<html>
	<body>
		<h1>Welcome to Sam's Astrophotography website</h1>
		<h3>Every one of these images have been taken by me at some capacity.  Either through one of my telescopes,
		cameras or even a smartphone</h3>

		<p>I have been interested in astronomy since I was nine years old.  As I grew older, I have become more
		interested in it through my adulthood.

		Here is a list of what I have photographed so far:
		<ul>
			<a href="/neckOfTheWoods.html">Solar System images</a>
			<li>Sun and sunspots</li>
			<li>Mercury - VERY CHALLENGING, check back soon</li>
			<li>Venus</li>
			<li>Mars</li>
			<li>Jupiter</li>
			<li>Saturn</li>
			<li>Uranus</li>
			<li>Neptune</li>
			<li>comets</li>
			<li>bright nebula</li>
			<li>emission nebula</li>
			<li>solar and lunar eclipses</li>
			<li>June 10, 2021 solar eclipse</li>
			<li>May 15, 2022 total lunar eclipse</li>
			<li>The moon and its different phases</li>
			<li>galaxies</li>
		</ul>

		I have photographed ofter things that have gone on here on Earth as well:
		<ul>
			<li>partial rainbows</li>
			<li>incoming storms</li>
			<li>cloud formations</li>
			<li>DOUBLE rainbows</li>
			<li>colorful sunsets with clouds</li>
		</ul>

		</p>
	</body>
</html>